<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--数据库连接-->
  <connectionStrings>
    <add name="DefaultConnection1" connectionString="Data Source=192.168.0.62,1433;initial catalog=test;user id=sa;password=ok;MultipleActiveResultSets=False" />
    <add name="DefaultConnection2" connectionString="Data Source=.;initial catalog=Ananas;user id=sa;password=123456;MultipleActiveResultSets=False" />
    <add name="DefaultConnection3" connectionString="Data Source=.,1433;initial catalog=lastsoup;user id=lastsoup;password=19890905;MultipleActiveResultSets=False" />
  </connectionStrings>
</configuration>
